.App {
  margin: 0;
  padding: 0;
}

.Wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto 1rem;
  padding: 0 5rem;
}

.Input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 15rem;
}

.Input ul {
  list-style-type: none;
  padding-left: 0;
}

.Input ul li {
  padding: 5px;
}

.Balance {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Wrapper--balance {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 2rem;
}

button {
  width: auto;
  max-width: fit-content;
  margin-top: 5px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
